/.idea/
/.vscode/
/bin/
cover.out
crosscover.out

*.bench

agents/builtin/mysql/slowlog/parser/corpus/
agents/builtin/mysql/slowlog/parser/crashers/
agents/builtin/mysql/slowlog/parser/suppressions/
agents/builtin/mysql/slowlog/parser/parser-fuzz.zip

backoff.png
pmm-agent-dev.yaml
